# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env

# Logs
logs/
*.log

# SQLite
*.db
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Mininet temporary files
*.out
*.pcap
