{% extends "layout/base.html" %}

{% block content %}




<h1>
⚡ OpenSDNLab Controller Control
</h1>


<div class="grid">


<div class="card">

<h2>
Controllers
</h2>


<div id="controllers">
Loading...
</div>


</div>



<div class="card">


<h2>
Live Operations Terminal
</h2>

<button onclick="clearTerminal()">
CLEAR VIEW
</button>


<div id="terminal" class="terminal">

</div>


</div>


</div>




<script>


function loadControllers(){


fetch("/api/controllers")

.then(r=>r.json())

.then(data=>{


let html="";


data.forEach(c=>{


let running =
c.status.running === true;



html += `

<div class="controller ${running?'active':''}">


<h3>

${running?'🟢':'🔴'}

${c.name}

</h3>


<p>

Status:

${running?'ACTIVE':'STOPPED'}

</p>


<pre>
${JSON.stringify(c.status,null,2)}
</pre>



${
running

?

`
<button onclick="action('${c.name}','stop')">
STOP
</button>
`

:

`
<button onclick="action('${c.name}','start')">
ACTIVATE
</button>
`

}



</div>

`;

});


document.getElementById(
"controllers"
).innerHTML=html;


});


}




function action(name,cmd){


fetch(
"/api/controllers/"+name+"/"+cmd,
{
method:"POST"
}
)

.then(()=>{

loadControllers();

loadLogs();

});


}




function clearTerminal(){

document.getElementById(
"terminal"
).innerHTML="";

}


function loadLogs(){


fetch("/api/controllers/active")

.then(r=>r.json())

.then(active=>{


if(!active.active){

document.getElementById(
"terminal"
).innerHTML="No active controller";

return;

}


fetch(
"/api/controllers/"
+ active.active
+ "/live-logs"
)

.then(r=>r.json())

.then(data=>{


let html="";


data.forEach(l=>{


let level="info";


let msg=l.message.toLowerCase();


if(
msg.includes("started") ||
msg.includes("ready") ||
msg.includes("instantiating")
)
{
level="success";
}


if(msg.includes("stop"))
{
level="warning";
}


if(
msg.includes("error") ||
msg.includes("failed")
)
{
level="error";
}


html +=

`
<div class="log ${level}">
[${l.source}]
${l.time}
${l.message}
</div>
`;

});


let terminal=document.getElementById(
"terminal"
);


terminal.innerHTML=html;


terminal.scrollTop=
terminal.scrollHeight;


});


});


}



loadControllers();

loadLogs();


setInterval(
loadControllers,
5000
);


setInterval(
loadLogs,
2000
);


</script>




{% endblock %}
