<!DOCTYPE html>

<html>

<head>

<title>OpenSDN Running</title>

<style>

body{
background:#111827;
color:white;
font-family:Arial;
}


.card{

background:#1f2937;
padding:20px;
margin:20px;
border-radius:10px;

}


.progress{

width:100%;
height:25px;

}

.log{

background:black;
padding:15px;
height:250px;
overflow:auto;

}

</style>

</head>


<body>


<h1>
OpenSDN Experiment Running
</h1>


<div class="card">

<h2>
Job ID
</h2>

<p>
{{job_id}}
</p>


<h3>
Progress
</h3>


<progress class="progress"
value="{{job.progress}}"
max="100">
</progress>


<p>
Run 45 / 100
</p>


</div>



<div class="card">

<h2>
Execution Status
</h2>


<ul>

<li>System Preparation ✅</li>

<li>Topology Creation ✅</li>

<li>Controller Deployment 🔄</li>

<li>Metric Collection ⏳</li>

</ul>


</div>



<div class="card">


<h2>
Live Logs
</h2>


<div class="log">

18:30:01 Preparing system<br>

18:30:05 Creating topology<br>

18:30:10 Controller connected<br>

18:30:15 Running measurement<br>

18:30:20 Saving result<br>


</div>


</div>




<script>

function updateJob(){

    fetch(
        '/api/live/job/{{job.id}}'
    )

    .then(
        response => response.json()
    )

    .then(
        data => {

            let job = data.data;


            document.getElementById(
                "progress"
            ).value = job.progress;


            document.getElementById(
                "progress_text"
            ).innerHTML =
            "Progress: "
            + job.progress
            + "%";


            let logs = "";


            job.logs.forEach(
                function(item){

                    logs += item + "<br>";

                }
            );


            document.getElementById(
                "logs"
            ).innerHTML = logs;

        }
    );

}


setInterval(
    updateJob,
    2000
);


updateJob();


</script>


</body>

</html>
